.wrapper {
    width: 100vw;
    height: 100vh;
    line-height: 3.8rem;
    display: flex;
}

.heroimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 9rem;
    padding-right: 2rem;
}

.regis{
    background-image: linear-gradient(to right, rgb(250, 3, 250), rgb(83, 0, 138));
    font-size: 1rem;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
    margin-top: 1.3rem;
    
}
.typeWriter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.inline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.blackDiv {
    width: 100%;
    background-color: rgb(12, 12, 12);
}

.appLogo {
    height: 4rem;
    margin-top: 0.5rem;
}

.inlineLanding {
    display: flex;
    padding: 0.2rem;
}

.inlineLanding h1 {
    font-size: 2rem;
}

.name {
    color: #fff;
}

.getText,
.big,
.small {
    color: #fff;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.small {
    font-size: 1.5rem;
    height: 2rem;
    margin-top: .6rem;
    margin-left: 0.5rem;
}

.bottom {
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.big {
    font-size: 5rem;
    font-weight: 800;
}



.startBtn {
    background-image: linear-gradient(to right, rgb(250, 3, 250), rgb(83, 0, 138));
    display: block;
    color: #fff;
    margin-left: 15%;
    font-size: 1.6rem;
    border-radius: 25px;
    font-weight: 600;
    margin-top: 2rem;
}

.inline {
    display: flex;
}

.getText{
    display: block;
}

.poll{
    font-weight: 900;
}


.nameGr,
.nameGr>* {
    background: linear-gradient(to right, rgb(224, 4, 224), rgb(61, 2, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typeWriterH2,
.typeWriterH2>* {
    font-size: 3rem;
    background: linear-gradient(to right, rgb(224, 4, 224), rgb(49, 0, 185));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ques,
.ques>* {
    font-size: 4rem;
    background: linear-gradient(to right, rgb(224, 4, 224), rgb(199, 9, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tier,
.tier>* {
    font-size: 3rem;
    background: linear-gradient(to right, rgb(224, 4, 224), rgb(39, 0, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.playerb{
    height: 350px;
    width: 350px;
}

@media (max-width: 822px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    nav{

        padding-left: 2rem;
        padding-right: 1rem;
    }

    .big,
    .small {
        color: #fff;
        margin-top: 0.0rem;
        margin-bottom: 0.0rem;
    }

    .small,
    .getText {
        font-size: 0.9rem;
        height: 0.4rem;
        margin-top: 0.3rem;
        margin-left: 0.5rem;
    }
    .getText{
        display: block;
        margin-bottom: 1rem;
    }

    .bottom {
        margin-top: 0.4rem;
        margin-right: 0.5rem;
    }

    .big {
        font-size: 1.9rem;
        font-weight: 600;
    }
    .poll{
        font-size: 2.5rem;
        font-weight: bold;
    }

    .typeWriterH2 {
        font-size: 1.1rem;
    }

    .typeWriter {

        width: 70%;
    }
    
    .inline {
        line-height: 2.5rem;
        width: 70%;
    }

    .startBtn {
        margin-left: 13%;
        font-size: 1.2rem;
        border-radius: 15px;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

    }


    .inlineLanding h1 {
        font-size: 1rem;
    }
    .appLogo{
        height: 2.2rem;
        margin-top: 0.1rem;
    }
    

    .typeWriterH2{
        margin-left: 0.2rem;
        font-size: 1.7rem;
    }
    
    .heroimg img{
        height: 350px;
        width: 350px;
    }
    .regis{

        font-size: 0.7rem;

        font-weight: 500;
        
    }
}
