.loginTop{
    padding-top: 1rem;
    width: 100vw;
    background-image: linear-gradient(to bottom , rgb(59, 1, 59), rgb(168, 3, 168) );
    height: 100vh;
}

.logo{
    display: flex;
}

.logo h1 {
    font-size: 2rem;
}

.btnDiv{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* margin-bottom: 5rem; */
}

.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 15px;
    margin-left: 0.2rem;
    width: 15rem;
}

.btn p{
    margin-left: 0.3rem;
}
.appLogo {
    height: 4rem;
    margin-top: 0.5rem;
}

.gitBtn{
    background-color: black;
    color: #fff;
}
.git-icon{
    height: 4rem;
}
.playerb{

    height: 360px;
    width: 360px;
}
.loginWrapper{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

@media (max-width: 640px) {

    .btnDiv{
        flex-direction: column;
    }
    .playerb{
        height: 220px;
        width: 220px;
    }

    .logo h1 {
        font-size: 0.9rem;
    }
    
    .btnDiv{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .btn{ 
        font-size: .7rem;
        font-weight: 600;
        padding: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 15px;
        margin-left: 0.2rem;
        width: 10rem;
        margin-top: 0.8rem;
    }
    
    .btn p{
        margin-left: 0.3rem;
    }
    
    .gitBtn{
        background-color: black;
        color: #fff;
    }
    .git-icon{
        height: 2.5rem;
    }

    .playerb{
        height: 270px;
        width: 300px;
    }
    .appLogo{
        height: 2.2rem;
        margin-top: 0.1rem;
    }
    nav{
        display: flex;
        justify-content: center;
    }
}